# Minecraft
/local/
/saves/
/mods/
/logs/
/crash-reports/
/backups/
/resourcepacks/
/server-resource-packs/
/screenshots/
/downloads/
/coremods/
/texturepacks/

/command_history.txt
/emi.json
/icon.png
/options.txt
/usercache.json
/usernamecache.json

# Misc. Mods
/.cache/
/.mixin.out/
/cache/
/config/crash_assistant/modlist.json
/config/crash_assistant/problematic_mods_config.json
/config/dynamic_fps.json
/config/fabric/
/config/fzzy_config/
/config/ichunutil/
/config/jade/sort-order.json
/config/konkrete/
/config/lithium.properties
/config/lmft.json
/config/midnightlib.json
/config/modernfix-mixins.properties
/config/neoforge-*
/config/particle_effects.json5
/config/ponder-client.toml
/config/resourceful-config-web.json
/config/sodium-*
/config/transition.json
/config/trender.json
/config/*.bak
/data/
/debug/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/cherishedworlds-favorites.dat
/moddata/
/TrashSlotSaveState.json

# Pakku
/build/

# KubeJS
.probe
/kubejs/**/probe-settings.json
/kubejs/node_modules/

# Shaders
/shaderpacks/
/config/iris*

# dotenv
/.env

# VSCode
/.vscode/**.code-snippets

# OS specific files

## Linux
/*~
/.fuse_hidden*
/.directory
/.Trash-*

## Windows
/Thumbs.db
/ehthumbs.db
/Desktop.ini
/$RECYCLE.BIN/
/*.lnk

## macOS
/.DS_Store
/.AppleDouble
/.LSOverride
