# Minecraft
local/
saves/
mods/
logs/
crash-reports/
backups/
resourcepacks/
server-resource-packs/
screenshots/
downloads/

command_history.txt
icon.png
options.txt
usercache.json
usernamecache.json

# Pakku
build/

# ProbeJS
.probe
kubejs/**/probe-settings.json

# Shaders
shaderpacks/
config/iris.properties

# dotenv
.env

# VSCode
.vscode/probe.code-snippets
.vscode/settings.json

# OS specific files

## Linux
*~
.fuse_hidden*
.directory
.Trash-*

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

## macOS
.DS_Store
.AppleDouble
.LSOverride
